h1{
	text-align: center;
	font-size: 50px;
	padding: 30px;
	font-family: 'Sedgwick Ave Display', cursive;
}

img{
	width: 60%;
	margin: 0px 20%;
	border: 2px solid black;
	border-radius: 10px;
}

.main{
	width: 80%;
	border: 2px solid black;
	border-radius: 10px;
	margin:  20px 10%;
	padding: 5px;
	background-color: #afa;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
}

body{
	background-color: #fac;
}